.shb_l,
.shb__icon {
  display: inline-block
}

.shb_l {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.shb {
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.shb__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.shb--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.shb__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.shb__icon--solid,
.shb__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.shb--twitter {
  background-color: #55acee
}

.shb--twitter:hover {
  background-color: #2795e9
}

.shb--pinterest {
  background-color: #bd081c
}

.shb--pinterest:hover {
  background-color: #8c0615
}

.shb--facebook {
  background-color: #3b5998
}

.shb--facebook:hover {
  background-color: #2d4373
}

.shb--tumblr {
  background-color: #35465C
}

.shb--tumblr:hover {
  background-color: #222d3c
}

.shb--reddit {
  background-color: #5f99cf
}

.shb--reddit:hover {
  background-color: #3a80c1
}

.shb--google {
  background-color: #dd4b39
}

.shb--google:hover {
  background-color: #c23321
}

.shb--linkedin {
  background-color: #0077b5
}

.shb--linkedin:hover {
  background-color: #046293
}

.shb--email {
  background-color: #777
}

.shb--email:hover {
  background-color: #5e5e5e
}

.shb--xing {
  background-color: #1a7576
}

.shb--xing:hover {
  background-color: #114c4c
}

.shb--whatsapp {
  background-color: #25D366
}

.shb--whatsapp:hover {
  background-color: #1da851
}

.shb--hackernews {
background-color: #FF6600
}
.shb--hackernews:hover, .shb--hackernews:focus {   background-color: #FB6200 }

.shb--vk {
  background-color: #507299
}

.shb--vk:hover {
  background-color: #43648c
}

.shb--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.shb--facebook:hover,
.shb--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.shb--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.shb--twitter:hover,
.shb--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.shb--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.shb--google:hover,
.shb--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.shb--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.shb--tumblr:hover,
.shb--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.shb--email {
  background-color: #777777;
  border-color: #777777;
}

.shb--email:hover,
.shb--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.shb--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.shb--linkedin:hover,
.shb--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.shb--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.shb--whatsapp:hover,
.shb--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.jumbotron.share {
    padding: 0;
    background-image: linear-gradient(120deg, #fff, #eee);
}