<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\JustSending.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
  <system.webServer>
    <httpProtocol>
      <customHeaders></customHeaders>
    </httpProtocol>
    <urlCompression doDynamicCompression="true" />
	<rewrite>
		<rules>
			<rule name="Redirects old domain" patternSyntax="ECMAScript" stopProcessing="true">
				<match url=".*" />
				<conditions logicalGrouping="MatchAny">
					<add input="{HTTP_HOST}" pattern="^justa.ml$" />
					<add input="{HTTP_HOST}" pattern="^www.justa.ml$" />
				</conditions>
				<action type="Redirect" url="https://just-an-email.com/{R:0}" redirectType="Permanent" />
			</rule>
		</rules>
	</rewrite>
  </system.webServer>
</configuration>
