<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="Just an Email!">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>@ViewData["Title"] - Just an Email!</title>
    <link rel="icon" href="~/favicon.ico" asp-append-version="true" type="image/x-icon" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Just an Email! - Pass files or any texts between your devices">
    <meta property="og:description" content="Quickly send files, URL or any texts across your devices!">
    <meta property="og:url" content="https://justa.ml">
    <meta property="og:image" content="https://justa.ml/images/logo-large.png">
    
    <partial name="_CommonHead" />

    @await RenderSectionAsync("Head", false)
</head>
<body>
    @await RenderSectionAsync("AboveNav", required: false)
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <i class="fa fa-send"></i> Just an Email!
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </nav>
    @await RenderSectionAsync("AboveBody", required: false)

    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <div class="container">
            <p>
                <span>With <i class="fa fa-heart"></i> by <a href="//mustak.im" target="_blank">Mustakim Ali</a></span>
                <span style="float: right; opacity: 0.7;">
                    <span class="hidden-xs"><a href="https://github.com/mustakimali/just-an-email/issues/new">Report a bug</a> &mdash; </span> <a asp-controller="Home" asp-action="Stats">Stats</a>
                </span>
            </p>
        </div>
    </footer>
    <div id="overlay"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" integrity="sha256-egVvxkq6UBCQyKzRBrDHu8miZ5FOaVrjSqQqauKglKc=" crossorigin="anonymous"></script>
    <script src="https://browser.sentry-cdn.com/5.17.0/bundle.min.js" integrity="sha384-lowBFC6YTkvMIWPORr7+TERnCkZdo5ab00oH5NkFLeQUAmBTLGwJpFjF6djuxJ/5" crossorigin="anonymous"></script>
    <script type="text/javascript">
    if (location.href.indexOf("localhost") === -1) {
        Sentry.init({ dsn: '@Environment.GetEnvironmentVariable("Sentry__Dsn")' });
    }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
