@{
    ViewData["Title"] = "Quickly send files, URL or any texts across your devices!";
}

@section AboveBody
{
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-lowercase">Pass files or <span title="Long URL, unfinished facebook status, code blocks!" style="border-bottom: 1px dotted #fff;cursor: help;">any texts</span> between your devices</h1>
            
            <form asp-controller="App" asp-action="CreateNewSession" method="POST">
                <button type="submit" class="btn btn-lg btn-primary">Start</button>
                <a class="btn btn-lg btn-primary" asp-action="Connect" asp-controller="App">Connect</a>
            </form>
        </div>
    </div>
}
<div class="text-center" style="color: #888;">
    <h2 class="text-lowercase">Quickly send files, URL or any texts across your devices!</h2>
    <p>
        Imagine sending a long URL to your PS4 browser! or sending an important file to your friends computer without having to install an app or logging into a site just for that!
    </p>
    <div class="row">
       
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bolt"></i> Fast</h3>
                </div>
                <div class="panel-body text-left">
                    <ul>
                        <li>No login/registration required.</li>
                        <li>All you need is a browser.</li>
                        <li>Share File, URL or arbitrary text.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-lock"></i> Secure</h3>
                </div>
                <div class="panel-body text-left">
                    <ul>
                        <li>Secure Encrypted connection.</li>
                        <li>Connect to other devices securely using a single use PIN.</li>
                        <li>Everything is erased as soon as you close the window.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<span id="forkongithub"><a href="https://mustakimali.github.io/JustA.ML" target="_blank">Fork me on GitHub</a></span>
@section Scripts
{
<script type="text/javascript">
    $(function() {
        $("*[title]").tooltip();
    });
</script>
}
