@{
    ViewData["Title"] = "Quickly and securely share a password across your devices!";
}
@section AboveBody
    {
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-lowercase">Quickly and securely share a password across your devices</h1>

            <div id="connect-panel">
                <div class="input-group input-group-lg">
                    <input class="form-control" name="quickText" id="quickShareText" maxlength="100" placeholder="Paste your secret here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" onclick="quickShare()">Send</button>
                    </span>
                </div>
                <br/>
                <div class="alert alert-info" style="opacity: 0.7">
                    <i class="fa fa-info"></i> This will start an end to end encrypted session and let you connect another device using a code or scanning a QR Code. Your secret will never leave your browser unencrypted.
                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron share">
        <div class="container" id="connect-instruction-panel">
            <partial name="_Share" />
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
    
    $(function () {
        $("#quickShareText").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                quickShare();
            }
        });
    });
    function quickShare() {
        var secret = $("#quickShareText").val();
        if (secret == "") return;
        location.replace(`/app#${createGuid()}${createGuid()}/${btoa(secret)}`);
        return false;
    }

    function createGuid() {  
       function S4() { return Math.floor((1+Math.random())*0x10000).toString(16).substring(1); }
       var guid = S4() + S4() + S4() + S4() + S4() + S4() + S4() + S4();
       return guid.toLowerCase();   
    }
    </script>
}