@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@{
    Layout = null;
    ViewData["Title"] = "Secure Line!";
}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="https://mustakimali.github.io/JustA.ML/assets/css/style.css?v=061490a41e69e0aceed5f97b4869328be541fa46">
</head>

<body>
    <section class="page-header">
        <h1 class="project-name">Secure Line</h1>
        <h2 class="project-tagline">
            
        </h2>

    </section>

    <section class="main-content">
        <h2>Include the script</h2>
        <pre><code>&lt;scripts src="@context.HttpContext.Request.Scheme://@context.HttpContext.Request.Host.ToUriComponent()/secure-line/script.js" type="text/javascript"&gt;&lt;scripts&gt;</code></pre>
        
        <h2>Initialise</h2>
<pre>
<code class="html">&lt;scripts&gt;
    // Storing the unique session id in the URL
    if (!location.hash) {
        location.hash = new_guid(); // Method needs to be defined
    }

    var uniqueId = location.hash;

    var onLineSecured = function (initiator) {
        // Secure line established, send any secure message using
        // SecureLine.send("[Event Name]", "[Optional data]")
        // [initiator === true] for first client
    };

    var onMessageReceived = function (event, data) {
        // Callback when a message is received
    };

    SecureLine.init(uniqueId, onMessageReceived, onLineSecured);
&lt;script&gt;</code>
</pre>

        <p>
            <b>Notice</b> this page already added a hash in the URL and ready to establish a secure connection.
            Open this page to another tab or device and check the console for an example.
        </p>
    </section>
    <script src="~/secure-line/script.js" asp-append-version="true"></script>
    <script>
        (function (w, d) {

            if (!location.hash) {
                location.hash = guid();
            }

            SecureLine.init(location.hash, function (event, data) {
                console.log("Message received over secure line: ");
                console.log({
                    Event: event,
                    Data: data
                });
                console.log("It was encrypted using shared secred: " + SecureLine.private_key);
            }, function (initiator) {
                if (initiator) {
                    console.log("Sending message over a secure line!");
                    SecureLine.send("Greeting", "Hello");
                }
            });

        })(window, document);

        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
            return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
        }
    </script>
</body>

</html>

