/*! CSS Used from: http://localhost:61452/lib/bootstrap/dist/css/bootstrap.css */
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
footer,nav{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
h1{margin:.67em 0;font-size:2em;}
hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
button,input{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
@media print{
*,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
p{orphans:3;widows:3;}
.navbar{display:none;}
}
.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.glyphicon-heart:before{content:"\e005";}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
input,button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee;}
h1{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1{margin-top:20px;margin-bottom:10px;}
h1{font-size:36px;}
p{margin:0 0 10px;}
ul{margin-top:0;margin-bottom:10px;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.fa-heart:before {content: "\f004";}
@media (min-width: 768px){
.container{width:750px;}
}
@media (min-width: 992px){
.container{width:970px;}
}
@media (min-width: 1200px){
.container{width:1170px;}
}
.form-control{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);-webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);}
.form-control::-moz-placeholder{color:#999;opacity:1;}
.form-control:-ms-input-placeholder{color:#999;}
.form-control::-webkit-input-placeholder{color:#999;}
.form-control::-ms-expand{background-color:transparent;border:0;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:focus,.btn:active:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4;}
.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40;}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active{color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active:hover,.btn-primary:active:focus{color:#fff;background-color:#204d74;border-color:#122b40;}
.btn-primary:active{background-image:none;}
.collapse{display:none;}
.input-group{position:relative;display:table;border-collapse:separate;}
.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0;}
.input-group .form-control:focus{z-index:3;}
.input-group-lg > .form-control,.input-group-lg > .input-group-btn > .btn{height:46px;padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px;}
.input-group-btn,.input-group .form-control{display:table-cell;}
.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle;}
.input-group .form-control:first-child{border-top-right-radius:0;border-bottom-right-radius:0;}
.input-group-btn:last-child > .btn{border-top-left-radius:0;border-bottom-left-radius:0;}
.input-group-btn{position:relative;font-size:0;white-space:nowrap;}
.input-group-btn > .btn{position:relative;}
.input-group-btn > .btn:hover,.input-group-btn > .btn:focus,.input-group-btn > .btn:active{z-index:2;}
.input-group-btn:last-child > .btn{z-index:2;margin-left:-1px;}
.nav{padding-left:0;margin-bottom:0;list-style:none;}
.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
@media (min-width: 768px){
.navbar{border-radius:4px;}
}
@media (min-width: 768px){
.navbar-header{float:left;}
}
.navbar-collapse{padding-right:15px;padding-left:15px;overflow-x:visible;-webkit-overflow-scrolling:touch;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .1);box-shadow:inset 0 1px 0 rgba(255, 255, 255, .1);}
@media (min-width: 768px){
.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none;}
.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important;}
.navbar-fixed-top .navbar-collapse{padding-right:0;padding-left:0;}
}
.navbar-fixed-top .navbar-collapse{max-height:340px;}
@media (max-device-width: 480px) and (orientation: landscape){
.navbar-fixed-top .navbar-collapse{max-height:200px;}
}
.container > .navbar-header,.container > .navbar-collapse{margin-right:-15px;margin-left:-15px;}
@media (min-width: 768px){
.container > .navbar-header,.container > .navbar-collapse{margin-right:0;margin-left:0;}
}
.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030;}
@media (min-width: 768px){
.navbar-fixed-top{border-radius:0;}
}
.navbar-fixed-top{top:0;border-width:0 0 1px;}
.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px;}
.navbar-brand:hover,.navbar-brand:focus{text-decoration:none;}
@media (min-width: 768px){
.navbar > .container .navbar-brand{margin-left:-15px;}
}
.navbar-nav{margin:7.5px -15px;}
@media (min-width: 768px){
.navbar-nav{float:left;margin:0;}
}
.navbar-inverse{background-color:#222;border-color:#080808;}
.navbar-inverse .navbar-brand{color:#9d9d9d;}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus{color:#fff;background-color:transparent;}
.navbar-inverse .navbar-collapse{border-color:#101010;}
.jumbotron{padding-top:30px;padding-bottom:30px;margin-bottom:30px;color:inherit;background-color:#eee;}
.jumbotron h1{color:inherit;}
.jumbotron .container{max-width:100%;}
@media screen and (min-width: 768px){
.jumbotron{padding-top:48px;padding-bottom:48px;}
.jumbotron h1{font-size:63px;}
}
.container:before,.container:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after{display:table;content:" ";}
.container:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after{clear:both;}
/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-send:before{content:"\f1d8";}
/*! CSS Used from: http://localhost:61452/css/site.css?v=4_vdvzNhU2VZj-NMs9sj6hKHgse-aBcredc7PB6uEns */
body{padding-top:50px;padding-bottom:20px;}
.body-content{padding-left:15px;padding-right:15px;}
.navbar-inverse{background-color:#607D8B;background-image:linear-gradient(120deg, #155799, #159957);border-color:transparent;}
.navbar-inverse .navbar-brand{color:#fff;}
.jumbotron h1{color:#fff;}
.jumbotron{background-color:#607d8b;background-image:linear-gradient(120deg, #155799, #159957);margin-bottom:0;text-align:center;}
.btn{border-radius:0;border-color:#6d6a95;color:white;text-transform:uppercase;}
.btn-primary{background-color:#6d6a95;font-size:250%;}
footer{text-align:center;font-size:9pt;color:#aaa;text-transform:uppercase;margin-top:-10px;margin-bottom:20px;}
footer a{color:#555;}
span.field-validation-error{text-transform:uppercase;color:white;}
.navbar{border-top:3px solid #4caf50;}
.btn{color:rgba(255,255,255,0.7);border-color:rgba(255,255,255,0.2);border-style:solid;border-width:1px;transition:color 0.2s, background-color 0.2s, border-color 0.2s;}
.btn:hover,.btn:active,.btn:focus{color:rgba(255,255,255,0.8);text-decoration:none;border-color:rgba(255,255,255,0.3)!important;}
.btn.btn-primary{background-color:rgba(255,255,255,0.08);}
.btn.btn-primary:hover{background-color:rgba(255,255,255,0.2);}
.input-group-btn{vertical-align:bottom;}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0) format('embedded-opentype'),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');font-weight:normal;font-style:normal;}