<button class="clearSelectedFileBtn btn btn-danger" type="submit" title="Clear selected file" style="display: none;"><i class="fa fa-remove"></i></button>
<button class="selectFileBtn btn btn-primary" type="submit" title="Select a file to send"><i class="fa fa-paperclip"></i><span>&nbsp; File</span></button>
<button class="sendBtn btn btn-success" style="font-weight: bold;" type="submit">Send <i class="fa fa-arrow-circle-right"></i></button>