<h2>On another Device</h2>
<ul>
    <li>Go to <a href="@Context.Request.Scheme://@Context.Request.Host" target="_blank">@Context.Request.Scheme://@Context.Request.Host</a></li>
    <li>Click CONNECT</li>
    <li>Use this single use PIN</li>
</ul>
