@model JustSending.Models.ConnectViewModel
@{
    ViewBag.Title = "Connect";
}
@section AboveBody 
{
    <div class="jumbotron">
        <div class="container">
            <h1>Got a PIN?</h1>

            <form asp-action="Connect" asp-controller="App" method="POST">
                <div class="input-group input-group-lg">
                    @Html.TextBoxFor(x => x.Token, null, new { @class = "form-control", type="number", placeholder = "Enter the PIN", onfocus="this.select()" })
                    <span class="input-group-btn">
                        <input id="connect" class="btn btn-primary" type="submit" value="Connect" />
                    </span>
                    <noscript>
                        <input type="hidden" asp-for="NoJs" value="true" />
                    </noscript>
                </div>
                @Html.ValidationMessageFor(x => x.Token)
            </form>
        </div>
    </div>
}
